// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-text-body{
  width: 100%;
  text-align: center;
  padding-bottom: 24px;

}

.post-text{
  width: 100%;
  text-align: center;
}

.card{
  //padding-bottom: 50px;
}

.card-body{
  padding: 1rem;
}

.card_text{
  padding: 1rem;
}