<div class="container signup text-center">
  <div class="table table-bordered signup-inner">
    <h1><strong> SNUSTA </strong></h1>
    <br/>

    <%= render 'form', user: @user %>
  </div>

  <div class="signin-inner-bottom">
  계정이 없으신가요? <%= link_to ' 가입하기', new_user_path %>
</div>
</div>
